<ul class="nav nav-pills" id="main-nav">
    {% for menu in main %}
        {% if menu.child is defined %}
            <li class="dropdown dropdown-mega">
                <a href="{% if menu.route == "#" or menu.route == "" %}{{ menu.route }}{% else %}{{ path(menu.route) }}{% endif %}" class="dropdown-toggle">{{ menu.title }}</a>
                <ul class="dropdown-menu">
                    <li>
                        <div class="dropdown-mega-content">
                            <div class="row">
                                {% set div = 4 %}
                                {% set counter = (menu.child|length) %}
                                {% set i = 0 %}
                                {% set limit = (counter / div)|round(0, "ceil") %}
                                {% for key,child in menu.child %}
                                    {% if i % limit == 0 or i == 0 %}
                                        <div class="col-md-3">
                                            <ul class="dropdown-mega-sub-nav custom-nav-sm">
                                    {% endif %}
                                    <li>
                                        <a href="{% if child.route == "#" or child.route == "" %}{{ child.route }}{% else %}{{ path(child.route) }}{% endif %}">
                                            {{ child.title }}
                                        </a>
                                    </li>
                                    {% if (i+1) % limit == 0 or (i + 1) == counter %}
                                        </ul>
                                        </div>
                                        {% set i = 0 %}
                                    {% else %}
                                        {% set i = i + 1 %}
                                    {% endif %}

                                {% endfor %}
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
        {% else %}
            <li>
                <a href="{% if menu.route == "#" or menu.route == "" %}{{ menu.route }}{% else %}{{ path(menu.route) }}{% endif %}">
                    {{ menu.title }}
                </a>
            </li>
        {% endif %}
    {% endfor %}
</ul>